.App {
  height: 100%;
  text-align: center;
}

.App-header {
  align-content: space-evenly;
  background-image: url(./../images/field.jpg);
  color: black;
  display: grid;
  height: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
