.LandingPage-section {
  align-content: space-evenly;
  background-image: url(./../images/field.jpg);
  color: black;
  display: grid;
  height: 100%;
}

.LandingPage-title {
  font-size: 3em;
}

.LandingPage-subtitle {
  font-size: 2em;
}