.SideBar {
  background-color: #1a1a1a;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 180px;
}

.SideBar p {
  text-align: center;
  padding: 25%;
}

.SideBar a {
	 color: #dedede;
	text-decoration: none;
}

.SideBar a:hover {
	color: #ababab;
}